body{
    
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    gap: 2rem;
     padding: 0 0.5rem 0 0.5rem;
    min-width: 350px;
    margin: 0 10px 0 10px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 0;
padding-top: 0;
}

header nav a{
    text-decoration: none;
    color:black
}

header img{
border-radius: 50%;

}
header nav{
display: flex;
 gap:1rem;
}

.fa-bell{
    font-size: 1.5rem;
}

.profile-info{
display: flex;
align-items: center;
gap:0.5rem;
}

.profile-info input {
    background-image: url("https://cdn-icons-png.flaticon.com/512/49/49116.png");
    background-repeat: no-repeat;
    background-size: 8%;
    border:none;
border-bottom: 1px solid rgb(226, 226, 226);
    background-position: 95%;
    padding-right: 10%;
    width: 60%;
}

.input-icon {
    margin-left: -1.5rem
}

/* MAİN */

main{
 border: 1px solid #707070;
 padding: 1rem;
 aspect-ratio: 6/3;
 display: flex;
 align-items: center;
 align-content: center;
}

main h1{
    margin:0
}


.second-column p {
    margin-top: 0;
}
.third-column p {
    margin-top: 0;
}

.main-movie{

    display: flex;
    flex-direction: column;

}

.main-movie .btn{
    margin-top: 10px;

}


.mi-info{
    margin-bottom: 5px;
}

.rating{
    display: flex;
    align-items: center;;
}

.lorem {
    width: 60%;
    margin: 0.5rem 0 2rem 0;
}

.movie-info{
display: flex;
gap: 1rem;
align-items: center;
}

.fa-star{
    color:red;
    padding: 0.12rem;
}

.age-rating{
color:black;
border: 1px solid black;
border-radius: 15%;
padding: 0.1rem 0.3rem;
}


main h1 {
font-size: 2.5rem;
}

.btn{
padding: 0.7rem 2em;
border: none;
background: red;
color: white;
text-decoration: none;
border-radius: 0.5rem;
cursor: pointer;
}

.btn i{
    margin-left: -1rem;
    }
    
.main-movie:last-child{
display: inline-block;
}



/**  SECTION */


.title{
    display: flex;
    justify-content: space-between;
}

.movie-cards{
    display: flex;
gap: 4rem;
width: 100%;
overflow-x: auto; 
white-space: nowrap;
scroll-behavior: smooth;
padding: 10px;
}

.movie-item{    
    border: 1px solid black;
    min-height: 300px;

    min-width: 30%;

    flex-direction: column;
    padding: 1rem;
    align-content:center ;
    justify-content: center;
}

.mi-info{
    display: flex;
    flex-direction: row;
   align-items: center;
   align-content: center;
    gap: 1rem
 }

.movie-item h2 {
    margin-bottom: 0;
}

 /**  FOOTER */


 footer{

    display: flex;
    flex-direction: row;
    gap:2rem;
 }

.footer-nav{
    display: flex;
    gap: 2rem;
}

.footer-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;

}

 .social-media{
     display: flex;
     gap: 0.5rem;
     font-size: 36px;
    }

    .app-images{
        display: flex;
        flex-direction: row;
        gap:0.5rem
    }
    .app-images img {
   
        width: 100px;
        height: auto; 
        object-fit: contain; 
    }